@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  background-color: #dbeafe;
  font-family: "Open Sans", sans-serif;
  color: #1f2937;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #dbeafe;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
}

.dash-border {
  position: relative;
}
.dash-border::after {
  content: "";
  position: absolute;
  background-color: #1f2937;
  width: 5px;
  height: 120%;
  bottom: -5%;
  left: 90%;
  border-radius: 10px;
}
