@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  background-color: #dbeafe;
  font-family: "Lato", sans-serif;
  color: #1f2937;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #dbeafe;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
}

img {
  max-width: 100%;
}

.dash-border {
  position: relative;
}
.dash-border::after {
  content: "";
  position: absolute;
  background-color: #1f2937;
  width: 5px;
  height: 90%;
  bottom: 0;
  left: 200%;
  border-radius: 10px;
}

.cool {
  position: relative;
  z-index: 1;
}
.cool::after {
  content: "";
  position: absolute;
  background-color: #fde047;
  width: 125%;
  height: 7px;
  bottom: 22%;
  left: -16%;
  border-radius: 10px;
  z-index: -5;
}

.main-subt {
  letter-spacing: 0.5rem;
}

.featured-title {
  position: relative;
  z-index: 1;
}
.featured-title::after {
  content: "";
  position: absolute;
  background-color: #fde047;
  width: 125%;
  height: 5px;
  bottom: 12%;
  left: -15%;
  border-radius: 10px;
  z-index: -5;
}

#nprogress .bar {
  background: #29d;
  height: 5px;
}

.auth-left {
  background: url("./public/shopping.jpg") no-repeat center;
  background-size: cover;
}

.auth-page {
  height: 88vh;
}

@media (max-width: 1023px) {
  .auth-page {
    height: 100%;
  }
}

.gridding {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1.5rem;
}
